.footer {
    padding-top: 89px;
    .description {
        @media screen and (min-width: 992px) {
            width: 50%;
        }
        height: 62px;
        color: #8c8f94;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 34px;
        margin-bottom: 32px;
    }

    .socials {
        display: flex;
        .item {
            text-decoration: none;
            margin-top: 40px;
            opacity: 0.3;
            color: rgba(38, 39, 45, 0.3);
            margin-right: 30px;
        }
    }
    .title {
        @media screen and (max-width: 991px) {
            margin-top: 40px;
        }
        height: 10px;
        color: #26272d;
        font-family: Lato;
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 25px;
    }
    .item {
        color: #8c8f94;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }
    .bottom {
        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 50px;
        }
        margin-top: 129px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(38, 41, 44, 0.05);
        padding-top: 39px;
        padding-bottom: 36px;
        .bottom__left {
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            color: #8c8f94;
            .bottom__link {
                text-decoration: underline;
                color: #3b55e6;
            }
        }
        .bottom__right {
            color: #26272d;
            font-family: Lato;
            font-size: 9px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.9px;
            .bottom__logo {
                margin-left: 10px;
            }
        }
    }
}
